$circle--outer: 100px;
$circle--inner: 30px;

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index--Welcome;
  font-weight: 300;
  color: $colors--white;
}

:global .page-transition-leave {
  :local .upside {
    transform: translateY(-100vh);
  }
}

:global .page-transition-enter {
  :local .upside {
    transform: translateY(-100vh);
  }
}


.item {
  height: 50vh;
  position: absolute;
  width: 100%;
  transition: .8s;
}

.downside {
  composes: item;
  bottom: 0;
  background-color: $colors--white;
}

.upside {
  composes: item;
  top: 0;
  background-color: $colors--red500;
  transition: .5s;
}

.line {
  position: absolute;
  height: 5vh;
  width: 100%;
  background-color: black;
  bottom: -2.5vh;
  z-index: $z-index--PokeBallLine;
}

.circle {
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%);
}

.outer {
  composes: circle;
  border: 2.5vh solid black;
  width: $circle--outer;
  height: $circle--outer;
  background-color: $colors--white;
  &:hover {
    width: calc($circle--outer + 10px);
    height: calc($circle--outer + 10px);
    :local .inner {
      width: calc($circle--outer - 30px);
      height: calc($circle--outer - 30px);
    }
  }
}

.inner {
  composes: circle;
  background-color: black;
  width: $circle--inner;
  height: $circle--inner;
}

