.root {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #F8C058;
  border: 2px solid #606070;
  box-sizing: border-box;
  max-width: 300px;
  overflow: scroll;
  max-height: 400px;
}
