.root {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  background-color: #e91e63;
  color: $colors--white;
}

.root :global a {
  color: $colors--yellow500;
  text-decoration: none;
}

.root :global a:hover {
  color: $colors--yellow600;
}

