.root {
  text-align: center;
}
.content {
  width: 50%;
  padding: 0.5em 1.6em;
  margin: 0 auto;
}

.image {
  image-rendering: pixelated;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.topWrap {
  background-color: $colors--grey50;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2em;
}

.bottom {
  margin: 1em 0;
}
