.content {
  width: 50%;
  padding: 0.5em 1.6em;
  margin: 0 auto;
}

.image {
  image-rendering: pixelated;
  width: 180px;
  display: block;
  margin-right: 0.5em;
  float: right;
}

.topWrap {
  background-color: $colors--grey50;
  border-bottom: 1px solid $colors--grey200;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 2em;
}
