.content {
  padding: 0.5em 1.6em;
}

.image {
  image-rendering: pixelated;
  width: 180px;
  display: block;
  margin-right: 0.5em;
  float: right;
}

.topWrap {
  background-color: $colors--grey50;
  border-bottom: 1px solid $colors--grey200;
  overflow: hidden;
}

.titleHolder {
  padding: .3em;
}

.listWrap {
  width: 50%;
  float: left;
  border-right: 1px solid $colors--grey200;
}
