$size: 70px;

.root {
  display: inline-block;
  height: $size;
  line-height: $size;
  width: 100%;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  font-family: $font-family--default;
  text-transform: uppercase;
  font-weight: bold;
}

.root:nth-child(odd) {
  background-color: $colors--lime50;
}

.root:nth-child(even) {
  background-color: $colors--lime100;
}

.root :global p {
  margin: 0 10px;
}

.root :global a {
  text-decoration: none;
  color: #00bcd4;
}

.image {
  width: $size;
  position: absolute;
  top: 0;
  right: 0;
}

